.container {
    width: 90%;
    margin: 0 auto;
}

.query-btn {
    padding: 4px 14px 7px;
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    color: #fff;
    background: #F82419;
}

@media screen and (max-width: 768px) {
    .container {
        width: 95%;
    }
    .query-btn {
        padding: 3px 9px 5px;
        font-size: 14px;
    }
}
@media screen and (max-width: 500px) {
    .query-btn {
        padding: 2px 7px 4px;
        font-size: 12px;
    }
}


.title {
    font-size: 36px;
    font-family: 'Days One', sans-serif;
    color: #4e4e4e;
    margin-bottom: 30px;
}