.contact {
    margin: 20px 0;
}
.contact__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
}

.contact__content {
    width: 47%;
    display: flex;
    align-items: flex-start;
}
.contact__content img {
    width: 55%;
    position: relative;
}
.contact__contacts {
    width: 45%;
}
.contact__title {
    /* width: 100%; */
    font-size: 22px;
    font-weight: 700;
    font-family: 'Exo 2', sans-serif;
    line-height: 26px;
    color: #fff;
    padding: 7px 35px;
    background-color: #F82419;
    position: relative;
}
.contact__title span {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Exo 2', sans-serif;
    font-style: italic;
    line-height: 16px;
    color: #fff;
}
.contact__item {
    margin: 20px 0 0 15px;
    font-size: 14px;
    font-family: 'Exo 2', sans-serif;
    line-height: 18px;
}
.contact__item span {
    font-weight: 700;
}


.contact-form {
    box-sizing: border-box;
    padding: 30px 25px 35px;
    width: 47%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    border-radius: 30px;
    background-color: #F82419;
}
.contact__form {
    width: 80%;
    margin: 20px auto 0;
    display: flex;
    color: #4e4e4e;
    flex-direction: column;
    align-items: center;
}
.contact__form input {
    margin-bottom: 10px;
}
.contact__input {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
}
.contact__button {
    padding: 6px 25px;
    font-size: 14px;
    font-family: 'Exo 2', sans-serif;
    border: none;
    border-radius: 10px;
    background-color: #fff;
}

@media screen and (max-width: 1220px) {
    .contact__wrapper {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .contact__content {
        width: 100%;
    }
    .contact-form {
        margin-top: 30px;
        width: 90%;
        /* text-align: right; */
    }
}