.footer {
    padding: 30px 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    font-family: 'Exo 2', sans-serif;
    font-size: 14px;
}
.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__content {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__address {
    text-align: center;
    color: #000;
}
.footer__number {
    color: #4e4e4e;
}
.footer__copyright {
    text-align: center;
    color: #000;
}

@media screen and (max-width: 800px) {
    .footer__content {
        width: 70%;
    }
}
@media screen and (max-width: 600px) {
    .footer {
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    .footer__wrapper {
        flex-wrap: wrap;
        font-size: 10px;
    }
    .footer__content {
        width: 100%;
        margin-top: 30px;
    }
}