.header {
    padding: 30px 0;
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;
    color: #4E4E4E;
    /* background-color: #aaa; */
}
.header__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__item {
    
}
.navbar__item:not(:last-child) {
    margin-right: 15px;
}

.header__contact {
    display: flex;
}
.header__contact div {
    display: flex;
    align-items: center;
    margin-right: 20px;
}


@media screen and (max-width: 960px) {
    .header__wrapper {
        padding-top: 70px;
    }
    .logo {
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }
}

@media screen and (max-width: 800px) {
    .header__wrapper {
        padding-top: 0;
        justify-content: flex-end;
    }
    .navbar {
        display: none;
    }
    .header__contact {
        font-size: 12px;
    }
}

@media screen and (max-width: 450px) {
    .header__wrapper {
        padding-top: 60px;
    }
}