.hero {
    position: relative;
}
.hero__bg {
    padding: 0;
    width: 100%;
}

.hero__wrapper {
    padding: 50px 50px 50px 100px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    display: flex;
    align-items: center;

    background-color: #f82419;
}
.hero__square {
    width: 87px;
    height: 87px;
    background-color: #fff;
    margin-right: 40px;
}
.hero__title {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Days One', sans-serif;
    line-height: 45px;
    color: #fff;
}

.hero__btn {
    position: absolute;
    right: 0;
    bottom: -60px;
}

@media screen and (max-width: 768px) {
    .hero__wrapper {
        padding: 30px 30px 30px 60px;
    }
    .hero__title {
        font-size: 25px;
        line-height: 33px;
    }
    .hero__square {
        width: 55px;
        height: 55px;
        margin-right: 30px;
    }
    .hero__btn {
        bottom: -40px;
    }
}

@media screen and (max-width: 450px) {
    .hero__wrapper {
        padding: 15px 15px 15px 30px;
    }
    .hero__title {
        font-size: 20px;
        line-height: 27px;
    }
    .hero__square {
        width: 45px;
        height: 45px;
        margin-right: 25px;
    }
    .hero__btn {
        bottom: -30px;
    }
}