.material {

}
.material__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.material__wrapper > img {
    width: 45%;
}
.material__content {
    width: 49%;
    text-align: center;

    font-size: 18px;
    font-family: 'Exo 2', sans-serif;
    line-height: 21px;
}
.material__description span {
    font-weight: 600;
}

.material__content > div {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.material__content > div > img {
    /* width: 10%; */
    height: 100%;
}
.material__content > div > p {
    width: 85%;
    text-align: left;
    font-size: 14px;
    font-family: 'Exo 2', sans-serif;
    font-style: italic;
    font-weight: 300;
    line-height: 14px;
}

@media screen and (max-width: 900px) {
    .material__wrapper > img {
        width: 80%;
    }
    .material__content {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .material__content {
        text-align: left;
    }
    .material__description {
        font-size: 13px;
        line-height: 16px;
    }
    .material__content > div > p {
        margin-left: 5px;
        font-size: 10px;
        line-height: 12px;
    }
}