.palitra {
    margin: 30px 0;
}
.palitra__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.palitra__item {
    position: relative;
    width: 15%;
    margin-bottom: 30px;
}
.palitra__item img {
    width: 100%;
    border-radius: 30px;
}
.palitra__item p {
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);

    font-size: 18px;
    font-family: 'Days One', sans-serif;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .palitra__item {
        width: 24%;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 550px) {
    .palitra__item img {
        border-radius: 20px;
    }
    .palitra__item p {
        font-size: 14px;
    }
}