.price {
    margin: 15px 0;
}
.price__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.price__item {
    padding: 15px 20px;
    width: 28%;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    /* border: 1px solid #000; */
    border-radius: 30px;
    background-color: #fff;
}

.price__title {
    width: 100%;
    font-size: 24px;
    font-family: 'Days One', sans-serif;
    line-height: 30px;
}
.price__center {
    padding: 20px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #4e4e4e;
    border-bottom: 1px solid #4e4e4e;
}
.price__center img {
    width: 40%;
}
.price__info {
    text-align: center;
}
.price__number {
    font-size: 22px;
    font-family: 'Days One', sans-serif;
    margin-bottom: 30px;
}
.price__btn {
    font-size: 14px;
}
.price__list {
    padding: 0 15px;
    list-style-type: disc;
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
    line-height: 22px;
}

@media screen and (max-width: 950px) {
    .price__wrapper {
        justify-content: center;
    }
    .price__item {
        width: 48%;
        margin-bottom: 20px;
    }
    .price__title {
        font-size: 22px;
    }
    .price__center {
        padding: 10px 0;
        margin: 10px 0;
    }
    .price__center img {
        width: 80px;
    }
    .price__number {
        font-size: 16px;
    }
    .price__btn {
        font-size: 10px;
    }
    .price__list {
        font-size: 12px;
    }
}

@media screen and (max-width: 500px) {
    .price__item {
        width: 70%;
    }
}