.project {
    padding: 30px 0 15px;
}
.project__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.project__item {
    width: 30%;
    max-height: 180px;
    margin-bottom: 5%;
}
.project__item_text {
    padding-top: 30px;
    text-align: center;
}
.project__item img {
    width: 100%;
}
.project__item p {
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;
    line-height: 21px;
    margin-bottom: 20px;
}
